$black: #313131
$black-20: rgba(0, 0, 0, .2)
$black-10: rgba(0, 0, 0, .1)
$black-80: rgba(0, 0, 0, 87)
$white: #ffffff
$soft-black: #1a1a1a
$white-80: rgba(255, 255, 255, .8)
$white-60: rgba(255, 255, 255, .6)
$white-20: rgba(255, 255, 255, .2)
$rose-gold: #caa277
$light-grey: #cecece
$med-grey: #373737
$cinnamon: #7e5503