@use 'colors'
@use 'mixins'

footer
  @include mixins.block-width()
  @include mixins.centered-flex()
  height: 4rem
  justify-content: center
  grid-area: footer

  @include mixins.theme(light)
    background-color: colors.$black-10
  @include mixins.theme(light, 'desktop')
    background-color: colors.$white

  @include mixins.theme(dark)
    background-color: colors.$med-grey
  @include mixins.theme(dark, 'desktop')
    background-color: colors.$soft-black

  a
    margin: 0 0.6rem

  .footer-logo
    height: 2rem
    width: 3rem

    @include mixins.theme(dark)
      -webkit-filter: invert(.8)
      filter: invert(.8)

  .buy-coffee-button
    height: 2rem

    @include mixins.theme(dark)
      opacity: 0.8