@use 'colors'
@use 'mixins'

.toggle-switch
  display: flex

  &__input
    opacity: 0
    width: 0
    height: 0
    pointer-events: none

  &__label
    display: flex
    align-items: center
    justify-content: center
    width: 2.5rem
    height: 2.5rem
    overflow: hidden
    border-radius: 50%
    cursor: pointer
    position: relative
    align-items: center
    background-color: transparent
    transition: color 0.2s linear

    @include mixins.theme(light)
      color: colors.$cinnamon
      &:hover, &:focus
        background-color: colors.$light-grey

    @include mixins.theme(light, 'desktop')
      &:hover, &:focus
        background-color: colors.$black-10

    @include mixins.theme(dark)
      color: colors.$rose-gold

  &__icon
    width: 1.5rem
    height: 1.5rem
    display: flex
    align-items: center
    justify-content: center
    transition: display 0.2s linear
    &:first-child
      display: none
    &:last-child
      display: flex


.toggle-switch__input:checked + .toggle-switch__label
  transition: background-color 0.2s ease
  background-color: transparent

  @include mixins.theme(dark)
    &:hover, &:focus
      background-color: colors.$black-20

  @include mixins.theme(dark, 'desktop')
    &:hover, &:focus
      background-color: colors.$med-grey

.toggle-switch__input:checked + .toggle-switch__label > .toggle-switch__icon
  &:first-child
    display: flex
  &:last-child
    display: none

.d-none
  display: none